.SubCard {
  padding: 10px;
  padding-top: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #444;
  z-index: 999999999999;
  background-color: #fff;
  border: 1px solid #999;
}

.subCard {
  height: 70%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.SubCard .Sub_cards {
  margin-top: 20px;
  display: flex;
}

.empty_Card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty_Card_img {
  width: 90%;
  height: 60%;
}

.empty_Card_img img {
  width: 100%;
  height: 100%;
}
.Sub_cards .cards_img_box {
  width: 30%;
  height: 120px;
}
.Sub_cards .cards_img_box img {
  width: 100%;
  height: 100%;
}

.Sub_cards .cards_info_box {
  width: 70%;
  height: 120px;
  padding-left: 10px;
}

.cards_info_box .product_title {
  width: 100%;
  height: 35%;
}

.cards_info_box .product_cost {
  width: 100%;
  height: 30%;
  color: #555;
}

.cards_info_box .product_btns {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calc_item {
  border: solid 1px #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: 80%;
  font-family: monospace;
}

.calc_item button {
  width: 40%;
  height: 100%;
  color: #555;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.calc_item span {
  padding-bottom: 5px;
  font-size: 18px;
}
.product_btns .remove_item {
  display: flex;
  align-items: flex-end;
}

.remove_item button {
  list-style: disc;
  border: none;
  background: none;
  outline: none;
  padding-right: 5px;
  font-family: Economica;
  font-weight: 600;
  font-size: 16px;
  color: #555;
  border-bottom: 1px solid #555;
  cursor: pointer;
}

.SubCard .Sub_GoStore {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sub_GoStore .total_cost {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.Sub_GoStore .total_cost p {
  font-family: "Secular One", sans-serif;
  font-weight: 600;
  align-items: center;
}
