.activveOn_btn {
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 17px;
  font-family: "Helvetica Neue";
}

.activveOn_btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  margin-top: 4px;
  background-color: white;
  transition: all 1s ease-in-out;
}

.activveOn_btn::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 1s ease;
}

.activveOff_btn {
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 17px;
  font-family: "Helvetica Neue";
}

.activveOff_btn::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  margin-top: 4px;
  width: 0%;
  transition: all 1s ease-in-out;
}

.productName {
  font-size: 13px;
  padding: 8px 0;
  text-align: start;
}
