.card_modal {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.product_cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
}

.card {
  width: 270px;
  height: 330px;
  margin: 25px;
  position: relative;
  cursor: pointer;
}

.card::before {
  position: absolute;
}

.card_img_item {
  width: 100%;
  height: 280px;
}

.card_img_item img {
  width: 100%;
  height: 100%;
}

.card_title {
  width: 100%;
  height: 30px;
  font-family: "Mate SC", serif;
  font-weight: 900;
}

.card_cost {
  width: 100%;
  height: 20px;
}

@media (min-width: 0px) and (max-width: 960px) {
  .card {
    width: 200px;
    height: 270px;
    margin: 20px;
  }

  .card_img_item {
    width: 100%;
    height: 220px;
  }
}

