:root {
  --heights: 550px;
  --widths: 100%;
}

.slider-container {
  height: var(--heights);
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 0;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: var(--heights);
  width: 100%;
  position: absolute;
  object-fit: cover;
  /* saty */
  background: rgba(0, 0, 0, 0.65)
    url("http://fc02.deviantart.net/fs71/i/2011/274/6/f/ocean__sky__stars__and_you_by_muddymelly-d4bg1ub.png");
  background-blend-mode: darken;
}
.slides {
  position: relative;
  transition: all 1s;
}

.slides:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.slides:hover:after {
  opacity: 0;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-text {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 45%;
  z-index: 9;
  text-shadow: 10px 10px 5px #000;
  font-size: 14px;
  font-family: "Helvetica Neue";
}

.slide-title {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  text-align: center;
  text-shadow: 10px 10px 5px #000;
  top: 52%;
  z-index: 9;
  font-size: 24px;
  font-weight: bold;
}

.arrow_prev,
.arrow_next {
  top: 50%;
  z-index: 9;
}

@media (min-width: 320px) and (max-width: 568px) {
  .arrow_prev,
  .arrow_next {
    width: 30px;
    height: 30px;
  }
  .slide-title {
    font-size: 20px;
  }

  .slide-text {
    font-size: 12px;
  }
}

.arrow_prev:hover,
.arrow_next:hover {
  color: #fff;
  background-color: rgba(212, 206, 206, 0.6);
  transition: all 0.3s ease-in;
}

.arrow_prev {
  left: 0.1%;
}
.arrow_next {
  right: 0.1%;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 90%;
  right: -35%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
}

.active-dot,
.dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
